* {
  margin: 0;
}
.app {
  background-color: #fafafa;
  /* colorZilla for color */
}
.app__headerImage {
  /* the img size will remain the same */
  object-fit: contain;
  /* width: 3%; */
  background-color: #fff;
  padding: 20px;
  width: 32px;
  border-bottom: 1px solid #000;
  /* Work on this border bootem */
}
